a {
  color: #5656fc;
  text-decoration: none;
  transition:
    color 0.2s,
    text-decoration 0.2s;
}

a:hover {
  color: #2d2dff;
  text-decoration: underline;
}

.back-link-button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: var(--text);
  cursor: pointer;
  font-size: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 0.2s,
    color 0.2s,
    outline-color 0.2s,
    box-shadow 0.3s;
}

.back-link-button:hover {
  background-color: var(--acc1);
  color: #000;
}

.back-link-button.active {
  outline-color: var(--acc1);
  box-shadow: 0 0 8px 2px var(--acc1);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text);
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs span {
  color: #888;
}

#video-container {
  margin: 10px;
  padding: 10px;
  background-color: var(--acc3);
  border-radius: 8px;
  transition: background 0.2s ease;
  display: flex;
  flex-direction: column;
}

#video-container iframe {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

#video-info {
  transition:
    background-color 0.3s ease,
    filter 0.3s ease,
    opacity 0.3s ease;
}

.video-title {
  margin: 6px 0;
  color: var(--text);
  text-align: left;
}

.video-description {
  padding: 3px;
  line-height: 1.5;
  color: var(--acc4);
  background-color: var(--bg);
  border-radius: 4px;
  transition: background 0.2s ease;
}

.video-stats {
  font-size: 14px;
  color: #888;
}

.video-data {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.watch-youtube {
  display: inline-block;
  margin: 15px 0 15px;
  font-weight: 500;
  padding: 0;
}

.channel-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}

.channel-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.channel-info {
  display: flex;
  flex-direction: column;
}

.creator-name {
  font-weight: 600;
  font-size: 15px;
  color: var(--text);
}

.subscriber-count {
  font-size: 13px;
  color: #888;
  margin-bottom: 4px;
}

.video-stats {
  font-size: 14px;
  color: #888;
}

.theatre-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 998;
  pointer-events: none;
}

body.theatre-mode .theatre-container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

body.theatre-mode #player {
  position: relative;
  z-index: 999;
  filter: none !important;
  pointer-events: auto;
}

body.theatre-mode .controls-bar-wrapper {
  position: relative;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
  filter: none !important;
}
