a {
  color: #5656fc;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

a:hover {
  color: #2d2dff;
  text-decoration: underline;
}

.back-link-button {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: var(--text);
  cursor: pointer;
  font-size: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 0.2s,
    color 0.2s,
    outline-color 0.2s,
    box-shadow 0.3s;
}

.back-link-button:hover {
  background-color: var(--acc1);
  color: #000;
}

.back-link-button.active {
  outline-color: var(--acc1);
  box-shadow: 0 0 8px 2px var(--acc1);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text);
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs span {
  color: #888;
}

#video-container {
  margin: 10px;
  padding: 10px;
  background-color: var(--acc3);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.video-title {
  margin: 6px 0;
  color: var(--text);
  text-align: left;
}

.publish-date {
  margin-bottom: 12px;
  font-size: 14px;
  color: #888;
}

.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.watch-youtube {
  display: inline-block;
  margin: 10px 0 18px;
  font-weight: 500;
}

.video-description {
  padding: 3px;
  line-height: 1.5;
  color: var(--acc4);
  background-color: var(--bg);
  border-radius: 4px;
}